<p id="notice"><%= notice %></p>
<div id='container'>
	<span id="countdown"></span>

	<div id='name'>
		<p>UNTIL <%= @countdown.name %></p>
	</div>

	<div id='data'>
		<div id='year'><%= @year %></div>
		<div id='month'><%= @month %></div>
		<div id='day'><%= @day %></div>
		<div id='hour'><%= @hour %></div>
		<div id='minute'><%= @minute %></div>
		<div id='second'><%= @second %></div>
	</div>

</div>