<p id="notice"><%= notice %></p>
<div id='container_show'>
	<span id="countdown"></span>

	<%= link_to(root_url, class: "logo_long") do %>
	    C<i class="fa fa-clock-o"></i>UNTD<i class="fa fa-clock-o"></i>WNT<i class="fa fa-clock-o"></i>
	  <% end %>

	<div id='name'>
		<%= @countdown.name.upcase %>
	</div>

	<div id='data'>
		<div id='year'><%= @year %></div>
		<div id='month'><%= @month %></div>
		<div id='day'><%= @day %></div>
		<div id='hour'><%= @hour %></div>
		<div id='minute'><%= @minute %></div>
		<div id='second'><%= @second %></div>
	</div>

</div>